<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034072008666-eanqgt8refbhmgpenj6kg909plbb8rno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034072008666-eanqgt8refbhmgpenj6kg909plbb8rno</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1034072008666-7eb397pitp6bic3m704gk42q4601nd4g.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBklprGUuaK_Thb7brNHoWqsMWilMubopw</string>
	<key>GCM_SENDER_ID</key>
	<string>1034072008666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TerbangTinggi.TanamAja</string>
	<key>PROJECT_ID</key>
	<string>tanam-aja</string>
	<key>STORAGE_BUCKET</key>
	<string>tanam-aja.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034072008666:ios:e134d01587ad039bd642e3</string>
</dict>
</plist>